body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	bottom: 1;
}

.map {
	position: absolute;
	height: 90%;
	width: 100%;
}

.navbar {
	position: fixed;
}
/*Autocomplete Box*/
.pac-container {
	z-index: 1301;
}
